@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* { 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f4f6;
    color:rgb(136, 43, 222);
    font-family:"Montserrat", sans-serif ;

}

h2{
     COLOR:#333;
     text-align: center;
}

header{
    padding: 3rem;
    background: linear-gradient(135deg, #8b5cf6, #6d28d9);
    text-align: center;
    color: white;
}

main{
    
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


p{
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
    text-align: justify;
}

img {
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit:cover; 
    margin-top: 20px;
}


footer{
    color: #331f19;
    text-align: center;
 
}

@media (max-width: 768px){

    p{
        font-size: 16px;
    }

    img{
        width: 180px;
        height: 180px;
    }

    h1{
        font-size: 28px;
    }
}